    {% extends 'clientes/index.html' %}
    {% block title %}Excluir Cliente{% endblock %}

    {% block content %}
    <div class="container mt-4">
        <h2 class="mb-4 text-danger">Excluir Cliente</h2>

        <p>Tem certeza que deseja excluir o cliente <strong>{{ cliente.nome }}</strong>?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
            <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    {% endblock %}